/** 
	FONTS
*/

$ArchivoNarrow: "Archivo Narrow";
$Oswald: "Oswald";


/** 
	COLOR PALLETE
*/

// Gray
$Gray3: #333;
$GrayA: #aaa;
$GrayC: #ccc;
$GrayD: #ddd;
$GrayE: #eee;

// Blue
$LightBlue: #607d8b;
$DarkBlue: #37474f;
