/** 
	FONTS
*/
/** 
	COLOR PALLETE
*/
main#Main {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 1100px; }
  main#Main .Inner {
    display: block; }



/*# sourceMappingURL=maps/global.css.map */
